body
{
    font-family: poppins;
    height: 350vh;
    border: none;
}
header
{
    height: 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 5%;
}
.logo h1
{
    font-size: 50px;
    border-bottom: 1px solid blue;
}
.logo h1 span
{
    color: orange;
}
.title
{

    width: 50%;
}
.title ul
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    text-transform: uppercase;
}
.title ul li
{
    list-style: none;
}
.title ul li a
{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
main
{
    height: 88%;
}
#section1
{
    height: 35%;
    border: none;
    background: url(../image/main.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition-duration: 1s;

}
#section1 h1
{
    text-transform: uppercase;
    font-size: 50px;
    font-weight: normal;
    margin-bottom: 0px;
}
#section1 .second
{
    font-weight: bold;
    margin-top: 0px;
}
#section1 a
{
    background-color: orange;
    padding-inline: 2%;
    padding-block: 1%;
    margin-top: 5%;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition-duration: 1s;
}
#section1 a:hover
{
    background-color: aqua;
    color:black ;
    transition-duration: 0.6s;
}


#section2
{
     height: 20%;
    border: none;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 1s;
    margin-inline: 20px;
}
#section2 .planifier
{
    width: 33.33333%;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    text-align: center;
}
#section2 .organiser
{
    width: 33.33333%;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-inline: 50px;
}
#section2 .voyager
{
    width: 33.33333%;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}


#section3
{
     height: 30%;
    border: none;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    transition-duration: 1s;
}
#section3 .same
{
    height: 70%;
    width: 50%;
    background: url(../image/article-image-1.jpg);
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px;
    display: flex;
}
#section3 .sam
{
    height: 70%;
    width: 50%;
    background: url(../image/article-image-2.jpg);
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px;
    display: flex;
}
#section3 .one
{
    width: 40%;
    height: 100%;
    background-color: rgba(250, 250, 250, 0.9);
    border-radius: 10px, 0px, 0px, 10px;
    text-align: center;
}
h2
{
    text-transform: uppercase;
    font-size: bold;
}
#section3 p
{
    margin-top: 30%;
}
#section3 a
{
    text-decoration: none;
    color: white;
    background-color: orange;
    height: 20px;
    width: 10%;
    font-size: bold;
    padding-inline: 40px;
    padding-block: 5px;
    border-radius: 4px;
}


#section4
{
    border: none;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#section4 .first
{
    border: none;
    height: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
#section4 h1
{
    text-align: center;
    width: 30%;
    border-bottom: 1px solid blue;
    margin-top: 7%;
}
#section4 .second
{
    border: none;
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#section4 input
{
    height: 25%;
    width: 25%;
    margin-right: 30px;
    font-size: 150%;
}
label
{
    font-size: 150%;
}
#section4 .ok
{
    height: 24%;
    width: 4%;
    color: white;
    background-color: rgb(7, 181, 218);
    border: 1px solid rgb(7, 181, 218);;
}
footer
{
    height: 8%;
    border: 1px none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(68, 68, 68);
}

footer h1
{
    font-size: 50px;
    color: white;
}
footer h1 span
{
    color: orange;
}
footer p
{
    color: gray;
}